<html>
<head>
	<title>Demo</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style type="text/css">          
		.heading{
		font-family:monospace;
		}
		
		#heading1{
			color:blue;
			font-family:sans-serif;,
		}

		div{
			text-align:left;
			height: 5000px;
			width: 5000px;
		}
	</style>
</head>

<body>
	<h1 id="heading1">D4 Tutorial</h1>
	<input type="file" name="fileUpload" id="fileUpload" />
	<button id="btnUpload">Upload</button>

	<div>
		<textarea id = "txtQuery" cols = "50" rows = "25"></textarea>
		<button id="btnSubmit">Submit Query</button>
		<table id="tblResults"></table>
	</div>

	<script>
	
	$("#btnUpload").click(function(){
		var fileToLoad = document.getElementById("fileUpload").files[0];
		var fileReader = new FileReader();
		fileReader.readAsArrayBuffer(fileToLoad);
		fileReader.onload = function(evt){
			var id = fileToLoad.name.split(".")[0]
			var content = evt.target.result;
			var formData = new FormData();
			formData.append("body", new Blob([content])); //blob is for keeping it in base 64

			$.ajax({ //ajax makes a run-time call to the server
				async:false,
				url: "http://localhost:4321/dataset/" + id,
				type: "put",								//REST endpointsz
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
			}).done(function(data){
				console.log(fileToLoad.name + "was successfully uploaded.");
			}).fail(function(data){
				console.log("ERROR - Failed to uploade" + fileToLoad.name + ".")
			});
		}
		});

	$("#btnSubmit").click(function(){
		var query = $("#txtQuery").val();
		console.log("query", query);

		$.ajax({
			async:false,
			url: "http://localhost:4321/query",
			type: "post",
			data: query,
			contentType: "application/json"
		}).done(function(data){
			console.log("Response", data);
			generateTable(data.result);
		}).fail(function(){
			console.error("ERROR - Failed to submit query")
		});
	});

	function generateTable(data){
		var tbl_body = document.createElement("tBody");
		var odd_even = false;
		console.log("DATA", JSON.stringify(data));
		$.each(data, function () {
			var tbl_row = tbl_body.insertRow();
			tbl_row.className = odd_even? "odd":"even";
			$.each(this, function(k, v){
				var cell = tbl_row.insertCell();
				cell.appendChild(document.createTextNode(v.toString()));
			})
			odd_even = !odd_even;
			document.getElementById("tblResults").appendChild(tbl_body);
		})}
	</script>
</body>
</html>